<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Display Category Details</h4>

                    </p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>

                            <th> Category Name </th>
                            <th> Description</th>
                            <th> Category Image</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.Name}}</td>
                             <td>{{d.Desc}}</td>
                            <td>
                                <img src="{{d.Image.url}}">
                            </td>
                            <td>
                                <form action="{% url 'editcatpage' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">Edit</button>
                                </form>
                            </td>
                             <td>
                                <form action="{% url 'deletecatdata' dataid=d.id %}">
                                    <button onclick="alertmsg()" type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
<script>
    function alertmsg(){
        window.alert("deleted succesfully")
        }
</script>
</body>
</html>
{% endblock %}